.block-update-card {
    height: 100%;
    border: 1px #FFFFFF solid;
    width: 96%;
    float: left;
    margin-left: 10px;
    margin-top: 0;
    padding: 0;
}

.block-update-card.status {
    margin-bottom: 9px;
}

#featured-content {
    box-shadow: 1px 1px 8px #d8d8d8;
    background-color: #FFFFFF;
    height: 100%;
    border: 1px #FFFFFF solid;
    width: 96%;
    float: left;
    margin-left: 10px;
    margin-top: 0;
    padding: 20px;
}