body {
    background-color: aliceblue;
}
.second-row div.block-update-card.status {
    margin-bottom: 10px;
    width:100%;
}

.width-hundred div.block-update-card.status {
    margin-bottom: 10px;
    width: 100%;
}

.width-hundred div.block-update-card.status h4 {
    margin-bottom: 0px;
}

#user-profile-thumbnail {
    max-width: 50px;
}



div.media.block-update-card {
    margin-bottom: 10px;
}

label#textarea-label {
    padding-right: 10px;
    margin: 0;
    display: block;
}

label#textarea-label textarea {
    width: 100%;
    padding: 4px;
    resize: none;
}

.card-action-pellet.btn-toolbar {
    margin-top: 7px;
    margin-left: 4px;
}

.first-row .pull-right .btn-info {
    margin-right: 14px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.first-row .media.block-update-card {
    width: 100%;
}

.first-row .block-update-card.status {
    width: 100%;
    margin-bottom:10px;
}

.block-update-card.status .dropdown {
    margin-right: 10px;
}

/*IFRAME*/
iframe.img-responsive {
    width: 100%;
    height: 200px;
}

.form-sigin input, .form-signup input {
   margin-bottom: 5px;
}
