
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form ng-submit="login(loginData)" class="form-signin" role="form" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" class="form-control" placeholder="Email address" required="" autofocus="" ng-model="loginData.username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" required="" ng-model="loginData.password">

        <p>Don't have an account yet?<a href="" ng-click="redirect.signup()">Sign up now!</a> </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

      </div>
    </div>

    </div>
