<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
    <form ng-submit="signup(userData)" class="form-signup" role="form" method="post">
        <h2 class="form-signin-heading">Signup</h2>

        <label for="firstname" class="sr-only">Firstname</label>
        <input type="text" id="firstname" class="form-control" placeholder="Firstname" required="" autofocus="" ng-model="userData.firstname">

        <label for="lastname" class="sr-only">Lastname</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Lastname" required="" autofocus="" ng-model="userData.lastname">

        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" class="form-control" placeholder="Username" required="" autofocus="" ng-model="userData.username">

        <label for="email" class="sr-only">Email</label>
        <input type="email" id="email" class="form-control" placeholder="Email address" required="" autofocus="" ng-model="userData.email">

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" ng-model="userData.password">
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>

      </div>
    </div>

    </div>
